.top-buffer-10 { margin-top:10px; }
.top-buffer-20 { margin-top:20px; }
.top-buffer-30 { margin-top:30px; }
.top-buffer-40 { margin-top:40px; }
.top-buffer-50 { margin-top:50px; }
.top-buffer-60 { margin-top:60px; }
.top-buffer-70 { margin-top:70px; }